name: auto-merge
on: 
  push:
    branches:
      - se
permissions:
  contents: write
jobs:
  auto-merge:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          fetch-depth: 0

      - name: setup git
        run: | 
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Merge branch into master
        run: |
          git fetch origin
          git checkout master
          git pull origin master
          git merge --no-ff ${{github.ref_name}} -m "auto merge"
          git push origin master